<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client List</title>
</head>
<body>
<h1>Client List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.surname}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/client/add}">Add New Client</a>
</body>
</html>
