<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h1>Homepage</h1>
    </header>
    <aside>
        <nav>
            <ul>
                <li th:if="${role == 'ADMIN' or role == 'USER'}"><a href="/client">Client list</a></li>
                <li th:if="${role == 'ADMIN' or role == 'USER'}"><a href="/projects">Projects list</a></li>
                <li th:if="${role == 'ADMIN' or role == 'USER'}"><a href="/staff">Staff list</a></li>
                <li th:if="${role == 'ADMIN' or role == 'USER'}"><a href="/technical_tasks">Technical Tasks list</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <p>This application was created to demonstrate how servlets work.</p>
        <p>
            The app provides you with information about client, technical tasks, projects and staff.
            Use the side menu to navigate through the website.
        </p>
        <p class="info">Last visit: <span th:text="${lastVisit}"></span></p>
        <p class="info">Visit count: <span th:text="${visitCount}"></span></p>

        <ul>
            <li th:if="${role == 'GUEST'}">
                <a href="/login">Login</a>
            </li>
            <li th:if="${role == 'ADMIN' || role == 'USER'}">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </main>
</body>
</html>