<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
<h1>Projects</h1>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Cost</th>
            <th>Technical Task</th>
            <th>Assigned Staff</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.title}"></td>
            <td th:text="${project.date}"></td>
            <td th:text="${project.cost}"></td>
            <td th:text="${project.assignedTask != null ? project.assignedTask.description : 'No Task Assigned'}"></td>
            <td>
                <ul>
                    <li th:each="staff : ${project.assignedStaff}" th:text="${staff.name}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
