<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Client</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
</head>
<body>
<form th:action="@{/add-client}" method="post">
  <h1>Add Client</h1>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <br>
  <label for="surname">Surname:</label>
  <input type="text" id="surname" name="surname" required>
  <button type="submit">Add Client</button>
</form>
</body>
</html>
